#profile_picture_container {
    position: relative;
    width: 350px;
    height: 400px;
    transform: scale(0.8);
    transition: 0.5s;
}

#title {
    font-family: 'Poiret One';
    font-size: 60px;
    margin-bottom: 24px;
}

@media only screen and (min-width: 1250px) {
    #profile_picture_container {
        width: 500px;
    }

    #title {
        font-size: 100px;
    }
}

@media only screen and (min-width: 1500px) {
    #profile_picture_container {
        width: 680px;
    }

    #title {
        font-size: 120px;
    }
}

#profile_picture_container img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}

#profile_picture_container img:nth-child(3) {
    transform: translate(6%, 0);
}

#profile_picture_container img:nth-child(2) {
    transform: translate(4%, 4px);
}

#profile_picture_container img:nth-child(1) {
    transform: translate(2%, 8px);
}


#profile_picture_container:hover img:nth-child(3) {
    transform: translate(18%, 0);
}

#profile_picture_container:hover img:nth-child(2) {
    transform: translate(12%, 0);
    opacity: 0.8;
}

#profile_picture_container:hover img:nth-child(1) {
    transform: translate(6%, 0);
    opacity: 0.8;
}

#subtitle {
    margin-top: 24px;
}
